<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info">
	<targets>
		<default-target-parameters xsi:type="File" createDirs="true" keepFileOpen="true" autoFlush="false" openFileFlushTimeout="10" openFileCacheTimeout="30" archiveAboveSize="10240000" archiveNumbering="Sequence" concurrentWrites="true" encoding="UTF-8"/>
		<target xsi:type="File" name="InfoFile" fileName="${basedir}/InfoLogs/log.txt" archiveFileName="${basedir}/InfoLogs/log.{#}.txt">
			<layout xsi:type="JsonLayout">
				<attribute name="counter" layout="${counter}" />
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message:format=message}" encode="false" />
			</layout>
		</target>
		<target xsi:type="File" name="ErrorFile" fileName="${basedir}/ErrorLogs/log.txt" archiveFileName="${basedir}/ErrorLogs/log.{#}.txt">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" encode="false" />
				<attribute name="exception">
					<layout xsi:type="JsonLayout">
						<attribute name="callsite" layout="${callsite}" />
						<attribute name="callsite-linenumber" layout="${callsite-linenumber} " />
					</layout>
				</attribute>
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="InfoFile" />
		<logger name="*" minlevel="Error" writeTo="ErrorFile" />
	</rules>
</nlog>